.nextDayWrap {
     color: aliceblue;
     margin-left: 3vmin;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     .day {
          font-size: 4vmin;
     }

     .nextDayIcon {
          width: 7vmin;
          height: 7vmin;
          margin-top: 0.5vmin;
          margin-bottom: 1vmin;
     }

     .temperature {
          font-size: 4vmin;
     }

}

.temperatureMin {
     font-size: 3vmin;
}