.seriesItemWrap {
     min-width: 80px;
     height: 100px;
     color: aliceblue;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 2vmin 0 2vmin 0;
     border-top: 0.1vmin solid rgba(255, 255, 255, 0.2);
}

.dataText {
     font-size: 4vmin;
}

.weatherIcon {
//     width: 14vmin;
//     height: 14vmin;
//     margin-top: -2vmin;
//     margin-bottom: -2vmin;
     object-fit: cover;
}