.container, .content {
     width: 100%;
}

.content {
     padding-top: 5vmin;
     color: aliceblue;
}

.headerWrap {
     width: 100%;
     padding: 0.5vmin;
     display: flex;
     justify-content: space-between;

     .headerTitleWrap {
        display: flex;
        margin-left: 2.5vmin;
          .headerImg {
               width: 5vmin;
               height: 5vmin;
               margin-right: 3vmin;
          }

          .headerText{ 
             //  color: aliceblue;
               font-size: 5vmin;
          }        
     }


     .editBtn {
          background-color: darkslategray;
          border: none;
          padding: 1vmin 1vmin;
          border-radius: 100%;

          .editBtnImg {
               width: 5.5vmin;
               height: 5vmin;
          }
     }
}

.favoriteCitiesWrap {
     width: 100%;
}

.favCitiesPlaceHolder {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: darkslategray;
     border-radius: 3vmin;
     padding: 5vmin;

     .favCitiesPHText {
          font-size: 5vmin;
          padding-bottom: 2vmin;
     }

     .favCitiesPHImg {
          width: 12vmin;
          height: 12vmin;
          object-fit: cover;
     }
}