.container {
     width: 100%;
     padding-top: 1vmin;
}

.titleWrap {
     width: 100%;
     display: flex;
     color: aliceblue;
     padding: 2vmin;
     padding-left: 0;
}

.titleImg {
     width: 6vmin;
     height: 6vmin;
     margin-right: 2vmin; 
}

.titleText {
     font-size: 6vmin;
}
