@use "../variables.module.scss" as v;

.columnBox {
     height: v.$column-box-height;
     min-width: v.$column-box-width;
     // padding: 0 5vmin 0 5vmin;
     display: flex;
     justify-content: end;
     align-items: center;
     flex-direction: column;
     position: relative;
     padding: 1vmin 0 0 0;
}

.columnContent {
     height: 100%;
     min-width: v.$column-box-width;
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: center;
     transition: all 0.3s ease;
     animation: smoothAppearance .3s ease backwards;
}

.Label {
     font-size: v.$font-size;
}

.Bar {
     width: 70%;
     background-image: linear-gradient(to top, rgba(1, 173, 148, 0.1), rgba(1, 173, 148, 1));  
}

@keyframes smoothAppearance {
     0% { height: 0%;
          opacity: 0;}
     100% {height: 100%;
          opacity: 1;}
}