
.itemWrap {
     color: aliceblue;
     font-size: 4vmin;
     padding: 4vmin 3vmin 4vmin 3vmin;
     display: flex;
     justify-content: space-between;
     // border-bottom: 1px solid #808080;
}

.btnsWrap, .tiyleWtap {
    display: flex;
}


.starBut, .delBtn {
     width: 4vmin;
     height: 4vmin;
     border: none;
     background-color: transparent;
}

.starBut {
     margin-left: 4vmin;
    // padding: 0 1vmin 0 1vmin;
    // background-color: burlywood;
}

.locationImg {
    width: 4vmin;
    height: 4vmin;
    margin-right: 3vmin;
}

.btnImg {
     width: 100%;
     height: 100%;
}