.container {
     width: 100%;
     height: 100%;

     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;

     overflow-y: scroll;
     overflow-x: hidden;
     scrollbar-width: none;
     scrollbar-color: transparent transparent;

  //   transform: translateX(100%);

    // opacity: 0.8;
     transition: transform .3s ease;

     animation: leftSlide .3s ease;
    // animation-fill-mode: forwards;
   //  animation-delay: .5s;

}

.backBtn {
     background-color: rgba(0, 0, 0, 0.2);
     border: none;
     position: fixed;
     top: 3vmin;
     left: 3vmin;
     z-index: 100;
     padding: 0.2vmin;
     border-radius: 5vmin;
     width: 6vmin;
     height: 6vmin;

}

.backIcon {
     width: 100%;
     height: 100%;
}

.titleWrap {
     width: 100%;
     background-color: darkslategrey;

     display: flex;
     justify-content: center;
     align-items: center;
     padding: 3vmin;
}

.title {
     font-size: 5vmin;
     color: aliceblue;
}


@keyframes leftSlide {
     0% {transform: translateX(100%);}
     100% {transform: translateX(0%);}
}