.container {
     width: 100%;
     margin-top: 2vmin;
}

.contentWrap {
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding-right: 3vmin;
}

.btnChart {
     background-color: rgba(255, 255, 255, 0.2);
     color: aliceblue;
     font-size: 4vmin;
     border: none;
     padding: 1.5vmin 3vmin;
     border-radius: 4vmin;

     span {
         color: grey;
         font-size: 4vmin; 
     }
}

.selectedBtn {
     outline: 0.5vmin solid gray;
}